.App {
  text-align: center;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: #4f5b80;
}

.Nav a {
  color: #00ff22;
  text-decoration: none;
}  

.Nav > .nav-link-active  {
  font-size: 1.5em;
  color: #00ffff;
  text-decoration: none;
}